
body {
  background-image: url(/images/bonebackground.png);
}

h1 {
  text-align: center;
}

img {
  display: block;
}


.slides {
  width:400px;
  margin:auto;
}

.slides figure {
  margin:0;
}

.slides .nxt {
  float:right;
}

.slides .prev {
    float:left;
  }

